@using Oikos.Web.Components.Layout.Themes
@using Oikos.Web.States
@inherits LayoutComponentBase

<EmptyLayoutProviders />

<HeadContent>
    <link rel="icon" type="image/png" href="favicon.png" />
</HeadContent>

<div style="width: 100%; height: 100vh;">
    @Body
</div>
